<% if receivers.present? %>
  <% receivers.each do |user| %>
    <%= link_to new_compliment_path("compliment[receiver_id]" => user.id) do %>
      <div class="receiver round shadow">
        <%= image_tag user.image_url(width: 70, height: 70), :class => "img img-circle" %>
        &nbsp;
        &nbsp;
        <%= user.username %>
      </div>
    <% end %>
  <% end %>
<% end %>
