<% if receivers.present? %>
  <% receivers.each do |receiver| %>
    <%= link_to new_compliment_path("compliment[receiver_id]" => receiver.followee.id) do %>
      <div class="receiver round shadow">
        <%= image_tag receiver.followee.image_url(width: 50, height: 50), :class => "img img-circle" %>
        &nbsp;
        &nbsp;
        <%= receiver.followee.username %>
      </div>
    <% end %>
  <% end %>
<% end %>
