<% users.each do |user_info| %>
  <% if user_info.class == User %>
    <% user = user_info%>
  <% else %>
    <% user = User.find(user_info.followee_id) if user_info.followee_id.present? %>
  <%end %>
  <div class="friend round shadow">
    <%= link_to user_profile_path(user) do %>
      <div class="image">
        <%= image_tag user.image_url, :class => "img-small img-circle image-shadow" %>
      </div>
      <div class="name">
        <%= user.username %>
      </div>
    <% end %>
    <div class="button-group pull-right">
      <%= render :partial => 'compliments/glorify', :locals => {:user_id => user.id }%>
    </div>
  </div>
<% end %>
