<div class="stamp-item">
  <% size = "small" if size.blank? %>
  <% if stamp.image.present? %>
    <%= image_tag stamp.image_url, :class => "img-#{size}" %>
  <% else %>
    <%= image_tag "default_stamp.gif", :class => "img-#{size}" %>
    <br>
    <div class="stamp-label">
      <%= stamp.title %>
    </div>
  <% end %>
</div>
