<% if stamp.image.present? %>
  <% stamp_image_url = stamp.image_url %>
<% elsif stamp.default_trophy_image.present? %>
  <% stamp_image_url = stamp.default_trophy_image.file_url %>
  <br>
<% else %>
  <% stamp_image_url = "/assets/trophy.png" %>
  <br>
<% end %>
<div class=stamp-inline-wrapper>
  <div class="stamp-item" style="background-image: url('<%= stamp_image_url %>')">
    <div class="stamp-title circle">
      <%= stamp.title %>
    </div>
  </div>
</div>
