<table class="table">
  <tbody>
    <% @stamps.each do |stamp| %>
    <tr>
      <td>
        <%= link_to stamp do %>
          <%= render stamp %>
        <% end %>
    </td>
      <td><%= stamp.used_count %>times used</td>
    </tr>
    <% end %>
  </tbody>
</table>

<br />
