<% user_stamps.each do |s|  %>
  <li class="stamp">
  <%= link_to s, :class => "btn" do %>
    <%= render(s.stamp) %>
    <br>
    Level <%= s.level %>
  <% end %>
  </li>
<% end %>    
<%= paginate user_stamps %>
