<table class="table">
  <% current_user.facebook.get_connection("me","friends").each do |friend| %>
    <tr>
      <td>
        <%= link_to "" do %>
        <%= image_tag "https://graph.facebook.com/#{friend["id"]}/picture?type=small" %>
        <% end %>
      </td>
      <td><%= friend["name"] %></td>
      <td><%= link_to 'invite', "", :class => "btn" %></td>
    </tr>
  <% end %>
</table>
