working_directory "/home/pi/praiseme"
pid "/home/pi/praiseme/tmp/pids/unicorn.pid"
stderr_path "/home/pi/praiseme/log/unicorn.log"
stdout_path "/home/pi/praiseme/log/unicorn.log"

listen "/tmp/unicorn.praiseme.sock"
worker_processes 2
timeout 30

