<div id="session-page">
  <h2>StartGlory</h2>
  <br>
  <div class="article round">
    <%= render "devise/shared/links" %>
  </div>
  <br>
  <h3>What is it?</h3>
  <div class="article round">
    StartGlory web(or app) service to compliment somebody or get compliments in fun way<br>
    just like this...<br><br>

    <h5> I think you are an</h5>
    <%= render Stamp.new(:default_trophy_image_id => DefaultTrophyImage.first.id, :title => "Amazing person") %><br>
    <br>
    <p>It's better then just compliment, so we call it <span class="badge badge-success">Glorify</span></p>
  </div>
</div>

