<%= check_box_tag :post_to_facebooks, 1, true, :hidden=> true %>

<label class="checkbox toggle  android" onclick="">
  
<%= check_box_tag :post_to_facebook, 1, true, :hidden=> true %>
  <p>
  <span></span>
  <span></span>
</p>
<a class="slide-button"><i class="icon-facebook-sign icon-2x"></i></a>
</label>

