<%= simple_form_for([:admin, @default_trophy_image]) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.file_field :file %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
