<div id="about">
  <h3>What is StartGlory?</h3>

  <div class="paragraph">
    <h4>Get compliments here and always remember how amazing you are!</h4>

    <h5>Compliments you get before you use StartGlory</h5>
    <p>
      
    </p>
    
    <h5>After you use StartGlory</h5>
    <p>
      <%= render Stamp.new(:title => "Amazing guy", :default_trophy_image_id => DefaultTrophyImage.first.id) %>
    </p>

  </div>

  <div class="paragraph">
    ajkldfnalkdfjlaksfjklajfd
    ajkldfnalkdfjlaksfjklajfd
    ajkldfnalkdfjlaksfjklajfd
    ajkldfnalkdfjlaksfjklajfd
    ajkldfnalkdfjlaksfjklajfd

  </div>

  <div class="paragraph">
    
    ajkldfnalkdfjlaksfjklajfd
    ajkldfnalkdfjlaksfjklajfd  ajkldfnalkdfjlaksfjklajfd  ajkldfnalkdfjlaksfjklajfd
    ajkldfnalkdfjlaksfjklajfd
    ajkldfnalkdfjlaksfjklajfd  ajkldfnalkdfjlaksfjklajfd  ajkldfnalkdfjlaksfjklajfd
    ajkldfnalkdfjlaksfjklajfd  ajkldfnalkdfjlaksfjklajfd  ajkldfnalkdfjlaksfjklajfd

  </div>

  <div class="paragraph">
    ajkldfnalkdfjlaksfjklajfd  ajkldfnalkdfjlaksfjklajfd  ajkldfnalkdfjlaksfjklajfd
    ajkldfnalkdfjlaksfjklajfd  ajkldfnalkdfjlaksfjklajfd  ajkldfnalkdfjlaksfjklajfd
    ajkldfnalkdfjlaksfjklajfd
    ajkldfnalkdfjlaksfjklajfd
    ajkldfnalkdfjlaksfjklajfd  ajkldfnalkdfjlaksfjklajfd
  </div>
</div>
