<div id="about">
  <h3>About</h3>

  <div>
    <h5>Compliment somebody in cool way!</h5>
  </div>

  <div>
    ajkldfnalkdfjlaksfjklajfd
    ajkldfnalkdfjlaksfjklajfd
    ajkldfnalkdfjlaksfjklajfd
    ajkldfnalkdfjlaksfjklajfd
    ajkldfnalkdfjlaksfjklajfd

  </div>

  <div>
    ajkldfnalkdfjlaksfjklajfd
    ajkldfnalkdfjlaksfjklajfd  ajkldfnalkdfjlaksfjklajfd  ajkldfnalkdfjlaksfjklajfd
    ajkldfnalkdfjlaksfjklajfd
    ajkldfnalkdfjlaksfjklajfd  ajkldfnalkdfjlaksfjklajfd  ajkldfnalkdfjlaksfjklajfd
    ajkldfnalkdfjlaksfjklajfd  ajkldfnalkdfjlaksfjklajfd  ajkldfnalkdfjlaksfjklajfd

  </div>

  <div>
    ajkldfnalkdfjlaksfjklajfd  ajkldfnalkdfjlaksfjklajfd  ajkldfnalkdfjlaksfjklajfd
    ajkldfnalkdfjlaksfjklajfd  ajkldfnalkdfjlaksfjklajfd  ajkldfnalkdfjlaksfjklajfd
    ajkldfnalkdfjlaksfjklajfd
    ajkldfnalkdfjlaksfjklajfd
    ajkldfnalkdfjlaksfjklajfd  ajkldfnalkdfjlaksfjklajfd
  </div>
</div>
