<div id="about">
  <h3>What is StartGlory?</h3>
  <div class="paragraph">
    <h4>StartGlory helps you to get compliments or give compliments to somebody else with fun way</h4><br><br>

    <hr>
    <h3>Compliments without Startglory</h3>
    <ul>
      <li>hey you are really good singer</li>
      <li>you are really good at painting</li>
      <li>you are so beautiful</li>
    </ul>
    <br>
    then... you are going to forget about all about this someday<br><br>
    <hr>
    <h3>Compliments with Startglory</h3>
    <%= render Stamp.new(:title => "Good singer", :default_trophy_image_id => DefaultTrophyImage.first.id) %>
    <%= render Stamp.new(:title => "Good at painting", :default_trophy_image_id => DefaultTrophyImage.limit(2).last.id) %>
    <%= render Stamp.new(:title => "Beautiful girl", :default_trophy_image_id => DefaultTrophyImage.limit(3).last.id) %>
    <div class="clear-both"></div>

  </div>

  <h3>Who making tihs?</h3>
  <div class="paragraph">
    
  </div>

  <h3>Contact</h3>

  <div class="paragraph">
    
    ajkldfnalkdfjlaksfjklajfd
    ajkldfnalkdfjlaksfjklajfd  ajkldfnalkdfjlaksfjklajfd  ajkldfnalkdfjlaksfjklajfd
    ajkldfnalkdfjlaksfjklajfd
    ajkldfnalkdfjlaksfjklajfd  ajkldfnalkdfjlaksfjklajfd  ajkldfnalkdfjlaksfjklajfd
    ajkldfnalkdfjlaksfjklajfd  ajkldfnalkdfjlaksfjklajfd  ajkldfnalkdfjlaksfjklajfd

  </div>

  <div class="paragraph">
    ajkldfnalkdfjlaksfjklajfd  ajkldfnalkdfjlaksfjklajfd  ajkldfnalkdfjlaksfjklajfd
    ajkldfnalkdfjlaksfjklajfd  ajkldfnalkdfjlaksfjklajfd  ajkldfnalkdfjlaksfjklajfd
    ajkldfnalkdfjlaksfjklajfd
    ajkldfnalkdfjlaksfjklajfd
    ajkldfnalkdfjlaksfjklajfd  ajkldfnalkdfjlaksfjklajfd
  </div>
</div>
