// Place all the styles related to the about controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#about{
  #presentation{
    text-align: center;
    padding: 10px;
    background-color: #e4faf5;
    .swiper-container, .swiper-slide {
      height: 350px;
    }
  }

  color: #e4faf5;
  .paragraph{
    background-color: #e4faf5;
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
    align: center;
    li{
      list-style-type: none;
    }
  }
  
}
