/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
a{
  text-decoration: none;
}
#title-menu-bar {
  position:fixed;
}
div.stamp-item{
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  width: 150px;
  .stamp-title{
      position:relative;
      top: 80px;
      color: white;
      font-weight:bold;
      text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black;
  }
}

.ajax-loader{
  background-color: #003226;
  color: white;
  width: 200px;
  height: 25px;
  position: fixed;
  top: 200px;
  left: 100px;
  text-align: center;
  vertical-align: text-middle;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 1px #888888;
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: none;
}
