// Place all the styles related to the compliments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.ui-autocomplete{
  border-width: 0px;
  border-color: #d4ecd5;
  background-color: #d4ecd5;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  z-index: 2000;

  .ui-menu-item{
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 5px;
    word-break:break-all;
    
    background-color: #d4ecd5;
    border-color: #d4ecd5;
    border-style: groove;
    text-align: center;
    color: darkgreen;
    border-width: 1px;

    -moz-box-shadow: 0px 10px 14px -7px #3e7327;
    -webkit-box-shadow: 0px 10px 14px -7px #3e7327;
    box-shadow: 0px 10px 14px -7px #3e7327;
    
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77b55a), color-stop(1, #72b352));
    background:-moz-linear-gradient(top, #77b55a 5%, #72b352 100%);
    background:-webkit-linear-gradient(top, #77b55a 5%, #72b352 100%);
    background:-o-linear-gradient(top, #77b55a 5%, #72b352 100%);
    background:-ms-linear-gradient(top, #77b55a 5%, #72b352 100%);
    background:linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77b55a', endColorstr='#72b352',GradientType=0);
    
    background-color:#77b55a;
    
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    
    border:1px solid #4b8f29;
    
    display:inline-block;
    color:#ffffff;
    font-family:arial;
    font-size:13px;
    font-weight:bold;
    padding:6px 12px;
    text-decoration:none;
    
    text-shadow:0px 1px 0px #5b8a3c;
  }


}
#compliment-show{
  margin-top: 30px;
  background-color: #e4faf5;
  padding: 10px;
  text-align: center;
  .receiver-name{
    font-size: 12px;
    font-weight: bold;
  }
}

.btn-compliment-delete{

}

#compliment-text{
  margin-top: 10px;
  background-color: #e4faf5;
  padding: 10px;
  padding-bottom: 20px;
  .img-profile{
    display: inline-block;
  }
  .text{
    display: inline-block;
    width: 70%;
    padding: 10px;
    margin-left: 5px;
  }
}

#new_comment{
  width: 100%;
  margin: 0px;
  text-align: center;
  #comment_content{
    width: 90%;
  }
  margin-top: 5px;
  margin-bottom: 10px;
}

#compliment-form{
  background-color: #e4faf5;
  padding: 10px;
  div#stamp-field{
    input[type=text].stamp-text-search{
      height: 60px;
      font-size: 30px;
    }
  }

  div#reason-field{
    textarea{
      height: 80px;
      font-size: 20px;
      padding: 10px;
    }
  }
}
ul.ui-autocomplete {
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  border: solid 1px #999;
  cursor: default;
  li {
    background-color: #FFF;
    border-top: solid 1px #DDD;
    margin: 0;
    padding: 0;
    a {
      color: #000;
      display: block;
      padding: 5px;
      font-size: 20px;
    }
    a.ui-state-hover, a.ui-state-active {
      background-color: #FFFCB2;
    }
  }

  div.create-stamp-fields{
    color: black;
    border-width: 2px;
    border-style: solid;
    border-color: #AAA;
    .guide{
      font-size: 20px;
    }
    padding: 5px;
    a.btn{
      font-size: 20px;
      padding: 10px;
    } 
  }

}
.ui-helper-hidden-accessible{
  display: none;
}
#create-stamp-popup{
  text-align: center;
}
#comments{
  text-align: center;
}
.comment{
  background-color: #E0F8E6;
  margin-top: 5px;
  padding: 2px;
  width: 90%;
  display: inline-block;
  text-align: left;

  .profile-picture{
    display: inline-block;
  }
  .content{
    display: inline-block;
  }
  .delete-button{
    display: inline-block;
    float: right;
    margin-right: 10px;
    margin-top: 5px;
  }

}
.btn-more-comments{
  width: 90%;
  margin-left:2%;
}








#facebook{
  width:30%;
  max-width:100px;
  float:right;
  margin-right:10px;
}

.switch .slide-button, .toggle p span {
      display: none;
}
.toggle {
/*  width:30%;
  max-width:100px;
  margin-left:60%;*/
  padding: 0;
  position: relative;
}          
.toggle label {
   display: block;
   position: relative;
   width: 100%;
   z-index: 3;
 }

 .toggle input {
   opacity: 0;
   position: absolute;
   z-index: 5;


}

.toggle p {
  /*
  left: -100px;
  margin: 0;
  padding-right: 100px;
  position: absolute;
  text-align: left;
  width: 100%;
  */
}

.toggle p span {
  display: block;
  left: 0;
  margin-left: 100px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 50%;
  z-index: 5;
}


.toggle p span:last-child {
  left: 50%;
}

.toggle .slide-button {

  display: block;
  height: 100%;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  z-index: 4;
  text-align:center;
  transition: all 0.3s ease-out 0s;
}

.toggle .slide-button i{
color:#909090;

}

.toggle {
  display: block;
  height: 30px;
}
.toggle * {
  -moz-box-sizing: border-box;
}
.toggle label, .toggle p {
  line-height: 30px;
  vertical-align: middle;
}
.toggle input:checked ~ .slide-button {
  left: 50%;
}
.toggle input:focus ~ .slide-button {
  outline: 1px dotted #888888;
}
.android {
  background-color: #B6B6B6;
  color: #FFFFFF;
}
.android.toggle {
  border: 2px solid #B6B6B6;
}
.android.toggle .slide-button {
  background-color: #E4FAF5;
  border-radius: 2px 2px 2px 2px;
  left:0;
}
.android.toggle input:first-of-type:checked ~ .slide-button {
  /*background-color: #279FCA;*/
}
.android.toggle input:first-of-type:checked ~ .slide-button i {
color:#2f2fff;

}
.android.switch input:first-of-type:checked ~ .slide-button {
  transform: skew(20deg) translateX(-10px);
}
.android p {
  color: #333333;
}
.android span {
  color: #FFFFFF;
}

