// Place all the styles related to the compliments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#compliment-show{
  margin-top: 30px;
  background-color: #e4faf5;
  padding: 10px;
  text-align: center;
  .receiver-name{
    font-size: 12px;
    font-weight: bold;
  }
}

.btn-compliment-delete{

}

#compliment-text{
  margin-top: 10px;
  background-color: #e4faf5;
  padding: 10px;
  padding-bottom: 20px;
  .img-profile{
    display: inline-block;
  }
  .text{
    display: inline-block;
    width: 70%;
    padding: 10px;
    margin-left: 5px;
  }
}

#new_comment{
  width: 100%;
  margin: 0px;
  text-align: center;
  #comment_content{
    width: 90%;
  }
  margin-top: 5px;
  margin-bottom: 10px;
}

#compliment-form{
  background-color: #e4faf5;
  padding: 10px;
  div#stamp-field{
    input[type=text].stamp-text-search{
      height: 60px;
      font-size: 30px;
    }
  }

  div#reason-field{
    textarea{
      height: 80px;
      font-size: 20px;
      padding: 10px;
    }
  }
}
ul.ui-autocomplete {
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  border: solid 1px #999;
  cursor: default;
  li {
    background-color: #FFF;
    border-top: solid 1px #DDD;
    margin: 0;
    padding: 0;
    a {
      color: #000;
      display: block;
      padding: 5px;
      font-size: 20px;
    }
    a.ui-state-hover, a.ui-state-active {
      background-color: #FFFCB2;
    }
  }

  div.create-stamp-fields{
    color: black;
    border-width: 2px;
    border-style: solid;
    border-color: #AAA;
    .guide{
      font-size: 20px;
    }
    padding: 5px;
    a.btn{
      font-size: 20px;
      padding: 10px;
    } 
  }

}
.ui-helper-hidden-accessible{
  display: none;
}
#create-stamp-popup{
  text-align: center;
}
#comments{
  text-align: center;
}
.comment{
  background-color: #E0F8E6;
  margin-top: 5px;
  padding: 2px;
  width: 90%;
  display: inline-block;
  text-align: left;

  .profile-picture{
    display: inline-block;
  }
  .content{
    display: inline-block;
  }
  .delete-button{
    display: inline-block;
    float: right;
    margin-right: 10px;
    margin-top: 5px;
  }

}
.btn-more-comments{
  width: 90%;
}
