// Place all the styles related to the news_feeds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#news_feeds{
  h5{
    text-align: center;
  }
  a{
    text-decoration: none;
    article{
      margin: 10px;
      padding: 10px;
      background-color: #e4faf5;

      .user-stamp-level-up{
        div{
          display: inline-block;
        }
        .user{
          width: 20%;
          text-align: center;
        }
        .userstamp{
          width: 35%;
          text-align: center;
        }
        .level{
          width: 35%;
          text-align: center;
          margin-left: 10px;
          color: black;
        }
      }
      .user-item{
        text-align: center;
      }

      .compliment-item{
        div{
          display: inline-block;
        }

        .sender{
          width: 25%;
          text-align: center;
        }
        .receiver{
          width: 25%;
          text-align: center;
        }

        .stamp{
          width: 45%;
          text-align: center;
        }
      }
    }
  }

}






@-moz-keyframes rotate {
  from {
    -moz-transform: rotateZ(0deg);
  }
  to { -moz-transform: rotateZ(-360deg);}
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotateZ(0deg);
  }
  to { -webkit-transform: rotateZ(-360deg);}
}

.toast{
  min-height: 10%;
  min-width: 70%;
  max-width: 80%;
  padding-right: 10px;
  padding-left:30px;
  padding-top:10px;
  background-color: rgba(4,4,4,0.8);
  position: absolute;
  left: 10%;
  top:50% ;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  color: white;
  box-shadow: 7px 7px 4px #888888;
  position:fixed;
}


