// Place all the styles related to the news_feeds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#news_feeds{
  img{
    width:50px;
    height:50px;
  }
  article{
    margin: 10px;
    padding: 10px;
    border-style: solid;
    border-width: 1px;
  }
}
