// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//= require bootstrap_and_overrides
@import "compass";
@import 'font-awesome';

body#session{
  vertical-align: middle;
  background-color: #004b3a;
}

#title{
  padding-top: 30px;
  color:white;
  text-align: center;
  h1{
    font-size: 65px;
  }
  b{
    font-size: 20px;
  }
}

#wrapper{
  #center-circle{
    z-index: -1;
    width: 300px;
    height: 300px;
    margin: auto;
    position: relative;
    top: 5%;
    text-align: center;

    background-color: rgb(180,227,145); // Old browsers
    @include filter-gradient(#b4e391, #004b3a, horizontal); // IE6-9 fallback on horizontal gradient
    @include background-image(radial-gradient(center, ellipse cover, rgba(180,227,145,1) 0%,rgba(255,255,255,1) 4%,rgba(255,255,255,1) 4%,rgba(255,255,255,1) 20%,rgba(255,255,255,1) 31%,#004b3a 58%,#004b3a 100%));
  }
}
.btn-sign{
    position: relative;
    width: 30%;
    height: 40px;
    top: 40%;
}


#policy{
  color: #999;
  text-align: center;
  z-index: 1;
}
