<tr>   
  <td><%=title %></td>
  <% total_count = 0 %>
  <% (0..5).each do |i| %>
    <td class="dash-table-content"> 
      <%= data[i].count %> 
      <% total_count += data[i].count %>
    </td>
  <% end %>
  <td class="table-total"><%= total_count %></td>
</tr>

