<div class="text-center">
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => "btn btn-danger btn-large" %>
  <br>
  <br>
  <%= link_to "Edit User Profile", edit_user_profiles_path, :class => "btn btn-large" %>
  <br>
  <br>
  <%= link_to "My profile page", user_profile_path(current_user), :class => "btn btn-large" %>
  <br>
  <br>
  <%= link_to "Invite Friends", sns_connections_find_friends_path, :class => "btn btn-large" %>
</div>
