<div id="score-gauge" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Getting Score</h3>
  </div>
  <div class="modal-body">
    <div class="progress">
      <div class="bar" style="width: 0%;"></div>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn close" data-dismiss="modal" aria-hidden="true">Ok</a>
  </div>
</div>
