<% if flash[:compliment] %>


  <div class="toast">
    Compliment Limit is 10 a day. 
  </div>

  <script type="javascript" >

$(".toast").fadeIn();
   setTimeout(function(){
         // $("#toast").addClass("hidden");
                $(".toast").fadeOut();
                                        },1000);
  </script>

<% end %>
<div id="news_feeds">
  <%= render @news_feeds %>
</div>
<%= paginate @news_feeds %>
