<% if flash[:compliment] %>


  <div id="toast">
    Compliment Limit is 10 a day. 
  </div>

  <script type="text/javascript" >
$(function () {
$('#toast').fadeIn();
   setTimeout(function(){
         // $("#toast").addClass("hidden");
                $('#toast').fadeOut("slow");
   },5000);
});
  </script>

<% end %>
<div id="news_feeds">
  <%= render @news_feeds %>
</div>
<%= paginate @news_feeds %>
